h4{
	display: flex;
	justify-content: center;
}

li{
	
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	justify-content: center;
	gap: 15px;
	border-radius: 7px;
}
.boton{
	font-size: 1.2rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 7px;
	background-color: rgb(25, 135, 84, 1.0);
	border-color: rgb(25, 135, 84, 1.0);
	color: ghostwhite;
}
.boton:hover{
	background-color: rgb(25, 125, 84, 1.0);
	border-color: rgb(25, 125, 84, 1.0);

}