*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'Libre Bodoni', serif;
}
body{
	background-color: #EAE5DF;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
header{
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
	font-size: 1rem;
	text-shadow: gray 2px 4px 5px;
	color: #EAE5DF;
	background-color: #987F61;
	box-shadow: grey 0px 4px 5px;
}

.bordes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
    padding: 1.5rem;
    padding-bottom: 2rem;
    background-color: #EAE5DF;
}

.desliz{

	padding: 1.5rem;
	box-shadow: grey 4px 3px 4px;
	background-color:  #987F61;
	border-radius: 7px;
	transition: margin-bottom 2s;

}

.llamativo{
	color: rgb(25, 135, 84, 1.0);

}
.llamativo:visited{
	color: black;
}
.desliz:hover{
	margin-bottom: 2rem;
	}
.pie{
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
	font-size: 1rem;
	color: #EAE5DF;
	background-color: #C1B2A0;
	margin-top: auto;
}

/* terminar la pag de info (con video maybe)
   la pag de ofertas 
   los links de los botones comprar
   transicion de los iconos del footer (que aparezca texto maybe)*/