*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body{
	background-color: #EAE5DF;

}
header{
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	font-size: 1rem;
	color: #EAE5DF;
	background-color: #987F61;
	box-shadow: grey 0px 4px 5px;
}
.producto-comprable{
	max-width: 480px;
	max-height: 720px;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	flex-direction: row;
	
}
footer{
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 0rem;
	display: flex;
	font-size: 1rem;
	color: #EAE5DF;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #C1B2A0;
}